#root {
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 1s ease-in;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

.spinner {
  border: 4px solid #F3F3F3;
  border-top: 4px solid #3498DB;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.active-link {
  background-color: rgba(21, 21, 21, 0.321);
  color: white !important;
}

.navigation-bar a:hover {
  background-color: rgba(21, 21, 21, 0.321);
  color: white !important;
}

.navigation-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(21, 21, 21, 0.321);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 1s ease-in;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.active-link {
  background-color: rgba(21, 21, 21, 0.321);
  color: white !important;
}


.navigation-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.navigation-bar a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: block;
}

.navigation-bar a:hover {
  background-color: rgb(3, 72, 17);
  color: white !important;
}

.navigation-bar {
    background-color: #97c897fd; /* Light green color */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
    padding: 1rem;
}
.navigation-bar .nav-link {
  color: black;
  padding: 0.5rem 1rem;
  font-weight: bold;
}


.card {
  position: relative;
  width: 500px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.card p {
  margin: 0;
  font-size: 12px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
}

.content-grid {
  margin-top: 10px;
  padding: 10px;
}


/* body {
  background-image: url('/Users/mariasharif/Documents/bnta_work/week_12/hr_portal_capstone/frontend/src/assets/background.png');  background-size: cover;
  font-family: Arial, sans-serif;
} */


.calendar-container{
  padding: 10px;
  background-color: white;
  
}

.dropdown-button {
  width: 100%;

}

.user-profile {
  width: 50%;
  border: 2px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #4ec87d81, #a6fb8f55);
  color: rgb(9, 227, 20);
  box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.2);
}

.user-profile .card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.user-profile .card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

